<h2 class="sr-only">{{ 'collection.layout.products_list_title' | t }}</h2>
{% paginate collection.products by section.settings.products_per_page %}
  {%- if collection.products -%}
    <ul>
      {% for product in collection.products %}
        <li>
          <article>
            {{ product.featured_image | img_url: 'master' | img_tag }}
            <h3>
              <a href="{{ product.url }}">{{ product.title }}</a>
            </h3>
          </article>
        </li>
      {% endfor %}
    </ul>
  {%- endif -%}
{% endpaginate %}
{% schema %}
{
  "name": "Collection product grid",
  "tag": "section",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "label": "Products per page",
      "unit": "",
      "min": 1,
      "max": 100,
      "step": 1,
      "default": 12
    }
  ]
}
{% endschema %}
