{% layout 'password' %}
{% form 'storefront_password' %}
  {{ form.errors | default_errors }}
  <div>
    <label for="password">{{ 'general.password_page.login_form_password_label' | t }}</label>
    <input type="password" name="password" id="Password" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
    <div>
      <button type="submit">
        {{ 'general.password_page.login_form_submit' | t }}
      </button>
    </div>
  </div>
{% endform %}